/* Asterisk wildcard selector to override defauls styles added to the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Header */
header {
    background-color: green;
}

/* Main content */
main {
    background-color: lightblue;
}

/* Footer */
footer {
    background-color: orange;
}